body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: white;
  font-weight: 200;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.bg {
  background: url(../img/bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
}
a.btn {
  font-weight: bold;
  color: black;
}
.bg-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: none;
}
.bg-hover.is-visible {
  display: block;
}
footer#footer {
  position: fixed;
  bottom: -100%;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.95);
  color: black;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}
footer#footer.is-visible {
  bottom: 0;
}
@media screen and (max-width: 640px) {
  footer#footer {
    height: auto;
  }
}
footer#footer #mc_embed_signup {
  padding-left: 15px;
}
footer#footer #mc_embed_signup #mc_embed_signup_scroll h2 {
  float: left;
  font-size: 1rem;
  margin: 0;
  margin-top: 2px;
  margin-right: 15px;
}
@media screen and (max-width: 640px) {
  footer#footer #mc_embed_signup #mc_embed_signup_scroll h2 {
    float: none;
    text-align: center;
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
footer#footer #mc_embed_signup #mc_embed_signup_scroll .mc-field-group {
  float: left;
}
@media screen and (max-width: 640px) {
  footer#footer #mc_embed_signup #mc_embed_signup_scroll .mc-field-group {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
footer#footer #mc-embedded-subscribe {
  margin-top: -5px;
  padding: 10px 15px;
  background: black;
  border: 1px solid black;
  border-radius: 30px;
  font-weight: 200;
  color: white;
  float: right;
  position: relative;
  right: 15px;
}
@media screen and (max-width: 640px) {
  footer#footer #mc-embedded-subscribe {
    margin: 0 auto;
    float: none;
    position: static;
  }
}
footer#footer .clear {
  text-align: center;
}
#mce-EMAIL {
  margin-top: -5px;
  padding: 10px 15px;
  background: none;
  border: 1px solid black;
  border-radius: 30px;
  font-weight: 200;
}
#mce-EMAIL:focus {
  outline: none;
}
#mce-EMAIL::-webkit-input-placeholder {
  color: black;
}
#mce-EMAIL::-moz-placeholder {
  color: black;
}
/* firefox 19+ */
#mce-EMAIL:-ms-input-placeholder {
  color: black;
}
/* ie */
.social,
.download {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 30px;
  white-space: nowrap;
  line-height: 50px;
  transition: all linear 0.2s;
}
.social:hover,
.download:hover {
  background: white;
  color: orange;
}
.download {
  color: orange;
  background: white;
  font-size: 30px;
}
@media screen and (max-width: 900px) {
  .download {
    font-size: 24px;
  }
}
.download:hover {
  color: white;
  background: transparent;
}
.download-container {
  margin: 60px 0;
}
@media screen and (max-width: 900px) {
  .download-container {
    margin: 30px 0;
  }
}
.macstore {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
header#menu {
  position: fixed;
  top: 0;
  left: 0;
}
header#menu #logo {
  display: inline-block;
  margin-left: 40px;
  margin-top: 30px;
  text-decoration: none;
  color: white;
  line-height: 33px;
  font-size: 1.4rem;
}
@media screen and (max-width: 400px) {
  header#menu #logo {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 1rem;
  }
}
header#menu #logo span {
  position: relative;
  left: 10px;
  top: -10px;
}
header#menu a.button {
  display: inline-block;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  border: 1px solid white;
  border-radius: 30px;
  margin-left: 50px;
  position: relative;
  top: -9px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (max-width: 400px) {
  header#menu a.button {
    margin-left: 30px;
    font-size: 0.8rem;
  }
}
header#menu a.button:hover {
  background: white;
  color: #fe8e52;
}
.screen {
  position: fixed;
  left: 0;
  bottom: -3px;
  width: 60%;
  z-index: -1;
}
@media screen and (max-width: 900px) {
  .screen {
    width: 90%;
    top: 450px;
  }
}
@media screen and (max-width: 365px) {
  .screen {
    top: 560px;
  }
}
.screen img {
  max-width: 100%;
  height: auto;
}
.desc {
  width: 40%;
  position: fixed;
  right: 0;
  top: 70px;
  padding: 30px;
  padding-left: 50px;
}
@media screen and (max-width: 900px) {
  .desc {
    width: 100%;
    position: static;
    display: block;
    margin-top: 50px;
    padding-left: 25px;
  }
}
.desc .desktop {
  display: block;
}
@media screen and (max-width: 900px) {
  .desc .desktop {
    display: none;
  }
}
.desc .mobile {
  display: none;
}
@media screen and (max-width: 900px) {
  .desc .mobile {
    display: block;
  }
}
.desc h1 {
  font-size: 2.5rem;
  font-weight: 200;
}
@media screen and (max-width: 900px) {
  .desc h1 {
    font-size: 2rem;
  }
}
.desc h1 strong {
  font-weight: bold;
  white-space: nowrap;
}
.desc h2 {
  font-weight: normal;
}
.cd-main-content {
  text-align: center;
}
.cd-main-content h1 {
  font-size: 20px;
  font-size: 1.25rem;
  color: #64788c;
  padding: 4em 0;
}
.cd-main-content .cd-btn {
  position: relative;
  display: inline-block;
  padding: 1em 2em;
  background-color: #89ba2c;
  color: #ffffff;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 50em;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.no-touch .cd-main-content .cd-btn:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}
@media only screen and (min-width: 1170px) {
  .cd-main-content h1 {
    font-size: 32px;
    font-size: 2rem;
  }
}
.cd-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}
.cd-panel::after {
  /* overlay layer */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}
.cd-panel.is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-panel.is-visible::after {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.3s 0s;
  -moz-transition: background 0.3s 0s;
  transition: background 0.3s 0s;
}
.cd-panel.is-visible .cd-panel-close::before {
  -webkit-animation: cd-close-1 0.6s 0.3s;
  -moz-animation: cd-close-1 0.6s 0.3s;
  animation: cd-close-1 0.6s 0.3s;
}
.cd-panel.is-visible .cd-panel-close::after {
  -webkit-animation: cd-close-2 0.6s 0.3s;
  -moz-animation: cd-close-2 0.6s 0.3s;
  animation: cd-close-2 0.6s 0.3s;
}
@-webkit-keyframes cd-close-1 {
  0%,
  50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@-moz-keyframes cd-close-1 {
  0%,
  50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(45deg);
  }
}
@keyframes cd-close-1 {
  0%,
  50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes cd-close-2 {
  0%,
  50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}
@-moz-keyframes cd-close-2 {
  0%,
  50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(-45deg);
  }
}
@keyframes cd-close-2 {
  0%,
  50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
.cd-panel-header {
  position: fixed;
  width: 90%;
  height: 50px;
  line-height: 27px;
  background: #fe8868;
  z-index: 2;
  -webkit-transition: top 0.3s 0s;
  -moz-transition: top 0.3s 0s;
  transition: top 0.3s 0s;
}
.cd-panel-header h1 {
  font-weight: bold;
  color: white;
  padding-left: 5%;
  font-size: 1rem;
  font-weight: 200;
}
.from-right .cd-panel-header,
.from-left .cd-panel-header {
  top: -50px;
}
.from-right .cd-panel-header {
  right: 0;
}
.from-left .cd-panel-header {
  left: 0;
}
.is-visible .cd-panel-header {
  top: 0;
  -webkit-transition: top 0.3s 0.3s;
  -moz-transition: top 0.3s 0.3s;
  transition: top 0.3s 0.3s;
}
@media only screen and (min-width: 768px) {
  .cd-panel-header {
    width: 70%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-panel-header {
    width: 50%;
  }
}
.cd-panel-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  /* image replacement */
  display: inline-block;
  overflow: hidden;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  padding-top: 10px;
}
.cd-panel-close::before,
.cd-panel-close::after {
  /* close icon created in CSS */
  position: absolute;
  top: 22px;
  left: 20px;
  height: 3px;
  width: 20px;
  background-color: black;
  /* this fixes a bug where pseudo elements are slighty off position */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-panel-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-panel-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.no-touch .cd-panel-close:hover {
  background-color: transparent;
}
.no-touch .cd-panel-close:hover::before,
.no-touch .cd-panel-close:hover::after {
  background-color: #ffffff;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.no-touch .cd-panel-close:hover::before {
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  -o-transform: rotate(220deg);
  transform: rotate(220deg);
}
.no-touch .cd-panel-close:hover::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cd-panel-container {
  position: fixed;
  width: 90%;
  height: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.from-right .cd-panel-container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.from-left .cd-panel-container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.is-visible .cd-panel-container {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
@media only screen and (min-width: 768px) {
  .cd-panel-container {
    width: 70%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-panel-container {
    width: 50%;
  }
}
.cd-panel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 5%;
  overflow: auto;
  color: #424f5c;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
}
.cd-panel-content h3 {
  color: #333;
}
.cd-panel-content p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  margin: 2em 0;
}
.cd-panel-content p:first-of-type {
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .cd-panel-content p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.6;
  }
}
input#number {
  border-radius: 2px;
  border: none;
  height: 30px;
  padding: 5px;
}

.share-container {
  margin-bottom: 30px;
}

.share-container > div {
  margin: 15px 0;
}
